# CLion / JetBrains
.idea/
cmake-build-*/
out/

# macOS
.DS_Store

# Build outputs
*.o
*.a
*.so
*.dylib
*.exe

# Optional: SFML folder in starter (we don't want to upload these big libs)
SFML/lib/
SFML/bin/
